<!--#include virtual = "./lgi/commons.asp"-->

<%
login = @login
user = BlackStack::MySaaS::User.where(:id=>login.id_user).first
c = BlackStack::MySaaS::Account.where(:id=>user.id_account).first
%>


	<!-- Page content
		================================================== -->
	<section class="container">

		<section class="row-fluid">	
			<section class='span6'>
				<%=nav2("Settings", "#{getDivisionURL}/settings/dashboard", "Transactions")%>
			</section>
			<section class='span6'>
			</section>
		</section>

		<br/>

		<section class="row-fluid">

			<div class="span12 box" style="margin-bottom: 20px">

				<input type='hidden' name='uid' id='uid' value='<%=user.id.gsub("{", "").gsub("}", "")%>'>
				<table class="table table-condensed">
					<thead>
						<tr>
							<th width='auto'>
								date
							</th>
							<th width='auto'>
								service
							</th>
							<th width='auto'>
								type
							</th>
							<th width='350px'>
								description
							</th>
							<th align='right'>
								paypal
							</th>
							<th width='auto'>
								bonus
							</th>
							<th width='auto'>
								balance
							</th>
							<th width='auto'>
								credits
							</th>
							<th width='auto'>
								invoice								
							</th>
							<th width='auto'>
								expiration								
							</th>
						</tr>
					</thead>

					<tbody>

						<%
						n = 0
						BlackStack::I2P::Movement.where(:id_account=>login.user.account.id).order(:create_time).all { |m|
							n += 1
							prod = BlackStack::I2P::services_descriptor.select { |p| p[:code] == m.service_code }.first
						%>
						<tr>
							<td>
								<%=m.create_time.strftime('%b %d, %Y')%>
							</td>
							<td>
								<%=prod[:name].to_s%>
							</td>

						</tr>
						<%
						}
						%>
					</tbody>
				</table>
						
				<%
				if (n == 0)
				%>
					<center>
						<br>
						<h4>No invoices found.</h4>
						<p>
							Click <a href="/settings/credit"><b>here</b></a> to choose a plan.
						</p>
					</center>
				<%
				end
				%>						
			</div>				


		</section>
	</section>
